# Copy to .env and adjust paths.

PG_INSTALL=C:\path\to\postgresql\pgsql
PG_DATA=data
PG_PASSWORD=postgres_superuser_password

WINCCOA_USERNAME=your_username
WINCCOA_PASSWORD="your_password#change_me"
WINCCOA_DATABASE=winccoa
WINCCOA_VERSION=3.19
WINCCOA_SCHEMA=C:\Siemens\Automation\WinCC_OA\3.19\data\NGA\PostgreSQL\sql
# WINCCOA_DB_HOST=localhost
# WINCCOA_DB_PORT=5432

# 3.19 only (tablespaces):
# WINCCOA_TABLESPACE_NAME=winccoa
# WINCCOA_EVENTS_TABLESPACE_NAME=winccoa_events
# WINCCOA_ALERTS_TABLESPACE_NAME=winccoa_alerts

# 3.19 only (directories):
# WINCCOA_TABLESPACE_ROOT=data_winccoa_tablespaces
# WINCCOA_TABLESPACE_DB=data_winccoa_tablespaces\db
# WINCCOA_TABLESPACE_EVENTS=data_winccoa_tablespaces\events
# WINCCOA_TABLESPACE_ALERTS=data_winccoa_tablespaces\alerts
# WINCCOA_TABLESPACE_BACKUPS=data_winccoa_tablespaces\backups
